@import url("../common/reset.css");


body::-webkit-scrollbar {
  display: none;
}
body {
  position: relative;
  z-index: -1;
}

main {
  position: relative;
  z-index: -1;
}

.warnning {
  display: none;
}

header {
  opacity: 0;
  transition: all .6s ease-in;
}
.header-menu li a {
  color: #fff;
}
.header-menu li a:hover {
  color: #bdbdbd;
}

/* ---------- loading screen ---------- */
#screen-wrap {
  position: relative;
  z-index: -3;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.loading-intro {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
}

.loading-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%) rotate(-0.003deg);
  transition: all .5s ease-in;
  display: none;
  opacity: 0;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 3;
  font-size: 2.8vw;
  font-weight: 700;
}

.intro-background {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #000;
  z-index: 2;
}

.bg-left {
  display: none;
  left: 0;
  width: 0;
  transition: all 2s;
}

.bg-right {
  display: none;
  right: 0;
  width: 0;
  transition: all 2s;
}

.intro-background-white {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: all 1.8s;
}

.gallery {
  position: absolute;
  background: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.gallery-container {
  display: none;
  opacity: 0;
  transition: all .6s ease-in;
}

.slide-wrapper {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 45%;
  transform: translate(0, -45%);
  margin: 0 auto;
}
.slides {
  width: 250vw;
  /* 10, -10, -30, -50, -70*/
  transform: translateX(-30%) translate3d(0, 0, 0); 
  transition: all .5s linear;
}
.slide-item {
  position: relative;
  width: 50vw;
  height: 500px;
  float: left;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.slide-position {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) translate3d(0, 0, 0);
  /* 반사효과는 렌더링 부하 문제로 성능 낮은 기기에서 사용 불가 */
  /* -webkit-box-reflect: below 0vw -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.65, transparent), to(rgba(255, 255, 255, 0.4))); */
  transition: all .5s ease-in;
}

.slide-item.inactive {
  transform: scale(.7);
  filter: grayscale(100%);
  opacity: .5;
}


/* --------------------------- slide 1  --------------------------- */
.slide1 {
  width: 500px;
  height: 500px;
  background-color: #e0e0e0;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  z-index: 1;
}

#slide1-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  filter: blur(2px);
}

.slide1 h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f5;
  text-shadow: 0 0 5px #212121;
  font-size: 44px;
  font-weight: 700;
}
.slide1 p {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -58%);
  color: #f5f5f5;
  text-shadow: 0 0 5px #212121;
  font-size: 20px;
  letter-spacing: 2px;
}

/* --------------------------- slide 2  --------------------------- */
.holder {
  width: 500px;
  height: 500px;
  background-color: #212121;
  overflow: hidden;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.holder svg {
  position: absolute;
  top: -10%;
  left: -10%;
}

#layer-1.holder-animation {
  -webkit-animation-name: spin2;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin2;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin2;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin2;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin2 {
  from {
      -ms-transform: rotate(0deg) translate3d(0, 0, 0);
  }

  to {
      -ms-transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

@-moz-keyframes spin2 {
  from {
      -moz-transform: rotate(0deg) translate3d(0, 0, 0);
  }

  to {
      -moz-transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes spin2 {
  from {
      -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
  }

  to {
      -webkit-transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

@keyframes spin2 {
  from {
      transform: rotate(0deg) translate3d(0, 0, 0); 
  }

  to {
      transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

.shape-1,
.shape-4 {
  opacity: 0.2;
}

.shape-2,
.shape-5 {
  opacity: 0.5;
}

.shape-3,
.shape-6 {
  opacity: 0.5;
}

.holder h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 8px;
  color: #fff;
}
.holder p {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -58%);
  font-size: 16px;
  letter-spacing: 4px;
  color: #fff;
}

/* --------------------------- slide 3 uncover --------------------------- */
.slide-item  .h {
  text-align: center;
  overflow: hidden;
  margin: auto;
  width: 500px;
  height: 500px;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.2);
  background-color: #212121;
  border-radius: 5px;
  z-index: 1;
}
.slide-item  .h video {
  width: 500px;
  height: 500px;
}
.h h5, .h p {
  position: absolute;
  z-index: 3;
  text-transform: uppercase;
  text-shadow: 0px 10px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  font-weight: 300;
  color: white;
}
.h h5 {
  letter-spacing: 22px;
  font-size: 14px;
  top: 50%;
}
.h p {
  letter-spacing: 10px;
  font-size: 10px;
  top: 60%;
}



/* --------------------------- slide4 camp us --------------------------------- */

.box {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
  background: #fbfcee;
  position: absolute;
  overflow: hidden;
  transition: all .5s ease-in;
  z-index: 1;
}

.wave {
  opacity: 0.4;
  position: absolute;
  left: 27%;
  background: #ffab40;
  width: 700px;
  height: 700px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
}

.wave.wave-animation {
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}
.wave.-three.wave-animation {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two.wave-animation {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: #0af;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  z-index: 1;
  transform: translate3d(0, 0, 0) translate(0, -30%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 38px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.box p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 39%;
  transform: translate(0, -39%);
  color: #fff;
  z-index: 1;
  letter-spacing: 4px;
  font-size: 14px;
}

@-webkit-keyframes drift {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  from {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  from {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}


/* --------------------------- slide5 --------------------------------- */
.poster {
  transform-origin: center center;
  display: inline-block;
  vertical-align: middle;
  z-index: 1;
}

.poster__content {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
  padding: 2%;
  background-color: #eeeeee;
  color: #151515;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.2);
  line-height: 1;
  border-radius: 5px;
  transition: all .5s ease-in;
}

.poster__body {
  position: absolute;
  top: 25%;
  left: -20%;
  width: 100%;
  height: 100%;
}

.poster__body svg {
  transform: scale(2);
  overflow: hidden;
}
.poster__body svg g {
  transform-origin: 50% 50% 0;
}
.poster__body svg g:nth-child(1).poster-animation {
  -webkit-animation: rotate 1.4285714286s linear infinite;
          animation: rotate 1.4285714286s linear infinite;
}
.poster__body svg g:nth-child(2).poster-animation {
  -webkit-animation: rotate 2.1428571429s linear infinite;
          animation: rotate 2.1428571429s linear infinite;
}
.poster__body svg g:nth-child(3).poster-animation {
  -webkit-animation: rotate 2.8571428571s linear infinite;
          animation: rotate 2.8571428571s linear infinite;
}
.poster__body svg g:nth-child(4).poster-animation {
  -webkit-animation: rotate 3.5714285714s linear infinite;
          animation: rotate 3.5714285714s linear infinite;
}
.poster__body svg g:nth-child(5).poster-animation {
  -webkit-animation: rotate 4.2857142857s linear infinite;
          animation: rotate 4.2857142857s linear infinite;
}
.poster__body svg g:nth-child(6).poster-animation {
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}
.poster__body svg g:nth-child(7).poster-animation {
  -webkit-animation: rotate 5.7142857143s linear infinite;
          animation: rotate 5.7142857143s linear infinite;
}

.poster__body h5 {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
  color: #000;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 700;
}
.poster__body p {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -54%);
  color: #000;
  font-size: 16px;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(360deg) translate3d(0, 0, 0) translate3d(0, 0, 0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(360deg) translate3d(0, 0, 0) translate3d(0, 0, 0);
  }
}

/* ------------------------------- next, prev btn ------------------------------- */
.slide-control {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  font-size: 32px;
}
.slide-control .prev {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.slide-control .next {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.slide-control .prev:hover, .slide-control .next:hover {background-color: rgba(0, 0, 0, 0.05);}

.prev i, .next i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ----------------------- slide contents ------------------------- */
.si-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translate3d(0, 0, 0);
  transition: all .5s ease-in;
  width: 500px;
  height: 500px;
  color: #fff;
  padding-left: 20px;
  z-index: -1;
}
.si-title {
  font-size: 32px;
  margin-top: 38px;
}
.si-date {
  font-size: 12px;
  color: #bdbdbd;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 32px;
}
.si-txts-bx {
  margin-top: 32px;
}
.si-txts-bx1 {
  width: 30%;
  float: left;
}
.si-txts-bx2 {
  width: 70%;
  float: left;
}
.si-txts-bx p {
  padding: 0 0 12px 0;
  font-size: 14px;
}
/* ----------------------- slide3 content ------------------------- */
.slide-hover:hover .slide1 {
  transform: translateX(-100%) perspective(600px) rotateY(10deg) translate3d(0, 0, 0);
}

.slide-hover:hover .holder {
  transform: translateX(-100%) perspective(600px) rotateY(10deg) translate3d(0, 0, 0);
}

.slide-hover:hover .h {
  transform: translateX(-100%) perspective(600px) rotateY(10deg) translate3d(0, 0, 0);
}

.slide-hover:hover .box {
  transform: translateX(-100%) perspective(600px) rotateY(10deg) translate3d(0, 0, 0);
}

.slide-hover:hover .poster {
  transform: translateX(-100%) perspective(600px) rotateY(10deg) translate3d(0, 0, 0);
}
.slide-hover:hover .sic {
  transform: translateX(0) translate3d(0, 0, 0);
}

/* ----------------------- bright ------------------------- */
.bright {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.25s linear;
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  width: 500px;
  height: 500px;
  z-index: -5;
}

.bright::before,
.bright::after {
  position: absolute;
  content: "";
  top: -5%;
  left: -5%;
  height: 110%;
  width: 110%;
  border-radius: 50%;
  opacity: 0.2;
  filter: blur(60px);
}

.bright::after {
  background-color: #eeeeee;
  animation: backglow2 15s ease infinite;
}

.bright::before {
  background-color: #eeeeee;
  animation: backglow1 15s ease infinite;
}

@keyframes backglow1 {
  0% {
    transform: translate(10%, 10%) scale(1) translate3d(0, 0, 0);
    opacity: 0.2;
  }
  25% {
    transform: translate(-10%, 10%) scale(0.9) translate3d(0, 0, 0);
    opacity: 0.2;
  }
  50% {
    transform: translate(-10%, -10%) scale(1) translate3d(0, 0, 0);
    opacity: 0.15;
  }
  75% {
    transform: translate(10%, -10%) scale(0.9) translate3d(0, 0, 0);
    opacity: 0.1;
  }
  100% {
    transform: translate(10%, 10%) scale(1) translate3d(0, 0, 0);
    opacity: 0.2;
  }
}

@keyframes backglow2 {
  0% {
    transform: translate(-10%, -10%) scale(1) translate3d(0, 0, 0);
    opacity: 0.2;
  }
  25% {
    transform: translate(10%, -10%) scale(0.9) translate3d(0, 0, 0);
    opacity: 0.2;
  }
  50% {
    transform: translate(10%, 10%) scale(1) translate3d(0, 0, 0);
    opacity: 0.15;
  }
  75% {
    transform: translate(-10%, 10%) scale(1) translate3d(0, 0, 0);
    opacity: 0.1;
  }
  100% {
    transform: translate(-10%, -10%) scale(0.9) translate3d(0, 0, 0);
    opacity: 0.2;
  }
}

/* ---------------------- MEDIA ------------------------ */
@media (max-width: 1400px) {
  .loading-title {
    font-size: 3.2vw;
  }

}

@media (max-width: 1200px) {
  .loading-title {
    font-size: 3vw;
  }

}

@media (max-width: 1024px) {
  main {
    display: none;
  }

  .warnning {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .warnning h1 {
    font-size: 4vw;
  }
  .warnning a {
    line-height: 4;
    font-size: 2vw;
  }
} 