@import url("../../common/reset.css");

body {
  overflow-x: hidden;
}

/* #toc {
  display: none;
  position: fixed;
  border-radius: 20px;
  top: 14%;
  right: 2%;
}

#toc p {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  text-align: right;
} */



.site {
  position: fixed;
  right: 2%;
  bottom: 4%;
  transition: all .1s;
  display: inline-block;
}
.site a {
  margin: 0 20px;
}
.site .item {
  position: relative;
  border: 3px solid #424242;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.site .item img {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

code {
  line-height: 24px;
  font-size: 18px;
}

summary {
  font-size: 20px;
  margin-bottom: 30px;
  background-color: #000;
  display: inline-block;
  color: #fff;
  border-radius: 12px;
  padding: 14px;
}
summary:hover {
  cursor: pointer;
}


.projectName {
  text-align: center;
  font-size: 5.5em;
  font-weight: 600;
  letter-spacing: 6px;
  padding-top: 8px;
}

.teamName {
  text-align: center;
  font-size: 24px;
  letter-spacing: 18px;
  padding-top: 4px;
  padding-left: 18px;
}
.date {
  text-align: center;
  font-size: 22px;
  letter-spacing: 8px;
  padding-top: 180px;
}

#toggle-code {
  width: 154px;
  height: 44px;
  transition: all .5s;
  overflow: hidden;
  background-color: #23241f;
  border-radius: 26px;
  margin-bottom: 34px;
  margin-top: 18px;
}

.toggle-code-btn {
  width: 154px;
  height: 44px;
  background-color: #23241f;
  border-radius: 26px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all .5s;
}

.toggle-code-btn p {
  line-height: 44px;
  display: inline-block;
}

.toggle-code-btn i {
  padding-left: 4px;
}

#toggle-down {
  display: none;
}

.cl1 {
  padding: 0 0 100px 0;
}
.cl2 {
  padding: 0 0 66px 0;
}
.cl3 {
  padding: 0 0 44px 0;
}
.cl4 {
  padding: 0 0 22px 0;
}


#summary {margin-top: 300px;}
.title {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 32px;
}

.portfolio p {
  font-size: 18px;
  padding-bottom: 22px;
}

/* ----------------------- architecture ------------------ */
#architecture {margin-top: 180px;}
#architecture .title {
  display: inline-block;
  padding-right: 14px;
}
.stack {text-align: center;}
#architecture img {
  width: 70%;
  margin-top: 40px;
}

#architecture p {
  display: inline-block;
  padding: 0 10px;
}
#architecture a:hover {
  text-decoration: underline;
  font-weight: 600;
}


#experience {
  margin-top: 180px;
}

#retrospective {margin: 180px 0 120px 0;}





@media (max-width: 1400px) {
  .site .item {
    width: 64px;
    height: 64px;
  }

  code {
    font-size: 17px;
  }

  .projectName {
    font-size: 5.2em;
  }
  
  .teamName {
    font-size: 21px;
  }
  .date {
    font-size: 20px;
  }
  
  .title {
    font-size: 2.2em;
  }

  .portfolio p {
    font-size: 17px;
  }

  #architecture img {
    width: 80%;
  }
}


@media (max-width: 1200px) {
  .site .item {
    width: 58px;
    height: 58px;
  }

  code {
    font-size: 16px;
  }

  .projectName {
    font-size: 5em;
  }
  
  .teamName {
    font-size: 19px;
  }
  .date {
    font-size: 19px;
  }
  
  .title {
    font-size: 2em;
  }

  .portfolio p {
    font-size: 16px;
  }

  #summary {margin-top: 260px;}

  #architecture img {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .break-container {
    width: 80%;
  }
  .site .item {
    width: 52px;
    height: 52px;
  }

  code {
    font-size: 15px;
  }

  .projectName {
    font-size: 4.6em;
  }
  
  .teamName {
    font-size: 16px;
    font-weight: 600;
  }
  .date {
    font-size: 16px;
    font-weight: 600;
  }
  
  .title {
    font-size: 1.8em;
  }

  .portfolio p {
    font-size: 15px;
    line-height: 22px;
  }

  .toggle-code-btn p {
    line-height: 44px;
  }
  

  #summary {margin-top: 220px;}

  #architecture img {
    width: 90%;
  }
}


@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 440px) {

}