.projectName {
  text-align: center;
  font-size: 5.5em;
  font-weight: 600;
  letter-spacing: 6px;
  padding-top: 8px;
}

.teamName {
  text-align: center;
  font-size: 24px;
  letter-spacing: 18px;
  padding-top: 4px;
  padding-left: 18px;
}
.date {
  text-align: center;
  font-size: 22px;
  letter-spacing: 8px;
  padding-top: 180px;
}

@media (max-width: 1400px) {
  .projectName {
    font-size: 5.2em;
  }
  
  .teamName {
    font-size: 21px;
  }
  .date {
    font-size: 20px;
  }
  
}

@media (max-width: 1200px) {

  .projectName {
    font-size: 5em;
  }
  
  .teamName {
    font-size: 19px;
  }
  .date {
    font-size: 19px;
  }
}

@media (max-width: 992px) {
  .projectName {
    font-size: 4.6em;
  }
  
  .teamName {
    font-size: 16px;
    font-weight: 600;
  }
  .date {
    font-size: 16px;
    font-weight: 600;
  }
}

@media (max-width: 576px) {
  .projectName {
    font-size: 4.2em;
    letter-spacing: 2px;
  }
  
  .teamName {
    font-size: 14px;
    letter-spacing: 15px;
  }
  .date {
    font-size: 14px;
    letter-spacing: 6.5px;
  }
}

@media (max-width: 440px) {
  .projectName {
    font-size: 3.8em;
  }
  
  .teamName {
    font-size: 13px;
    letter-spacing: 13px;
  }
  .date {
    font-size: 13px;
    letter-spacing: 6px;
  }
}