@import url("../common/reset.css");

body {
  position: relative;
  z-index: -2;
  overflow-x: hidden;
}

#zoomBx {
  position: relative;
  zoom: .9;
  z-index: -10;
}

/* -------------------loading-screen------------------- */
.loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 4em;
  letter-spacing: 6px;
  text-align: center;
  transition: all .6s;
  opacity: 1;
  z-index: 10;
  background-color: #000;
  color: #fff;
  font-size: 4vw;
}

.loading-screen .txt-bx {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-screen .txt-bx h2 { 
  display: inline-block;
  margin-left: 0.6rem;
}
.loading-screen .txt-bx h2::after {
  content: '';
  margin-left: 0.4rem;
  border-right: 2px solid #e0e0e0;
  animation: cursor .9s infinite steps(2);
}
@keyframes cursor {
  from { border-right: 2px solid #000; }
  to { border-right: 2px solid #e0e0e0; }
}



@media (max-width: 1200px) {
  .loading-screen {
    font-size: 3.5em;
  }
}
@media (max-width: 992px) {
  .loading-screen {
    font-size: 3em;
    letter-spacing: 5px;
  }
}
@media (max-width: 768px) {
  .loading-screen {
    font-size: 2.5em;
    letter-spacing: 4px;
  }
}
@media (max-width: 576px) {
  .loading-screen {
    font-size: 1.5em;
    letter-spacing: 3px;
  }
}

/* ----- section1 ----- */
#my-introduce {
  padding-top: 200px;
  padding-bottom: 40px;
  text-align: left;
}

.myName {
  font-size: 36px;
  font-weight: 800;
  color: #212121;
  padding-left: 16px;
}

.my-explanation {
  font-weight: 700;
  line-height: 24px;
  padding-top: 3vh;
  font-size: 20px;
  padding-left: 16px;
}

.about {
  margin-top: 6vh;
}

.about .am {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px;
}

.introduce-btn {
  display: none;
}

/* ----- section2 ----- */
#portfolio-introduce {
  position: relative;
  z-index: -1;
}

#portfolio-introduce h1 {
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 10px;
  border-bottom: solid 2px rgba(0, 0, 0, .2);
  transform: rotate(0.03deg);

}

.introduce-txt {
  padding-top: 20px;
}

.introduce-txt p {
  font-size: 17px;
  padding: 8px 0;
  transform: rotate(0.02deg);
}

/* ----- section3 ----- */
/* .my-skills { 차트가 있을때
  height: 1580px; 
} */

.my-skills {
  height: 1080px;
}

.language-chart {
  text-align: center;
}

.language-chart img {
  width: 860px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.lc2 {
  display: none;
}

.my-skills h2 {
  font-size: 1.8em;
  text-align: center;
  padding-top: 80px;
}

.skill-bx {
  text-align: center;
}


.skill-bx .item {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
  display: inline-block;
  margin: 24px 12px 0 12px;
  overflow: hidden;
}

.skill-bx .item:hover span {
  display: block;
}

.item span {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.item span p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.skill-bx img {
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----- section4 ----- */
.experience {
  display: flex;
  width: 85%;
  padding: 50px 0 30px 0;
  margin: 32px auto 40px auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px, rgba(0, 0, 0, 0.2) 0px 3px 10px;
  border-radius: 1rem;
}

.ex-title-bx {
  display: flex;
  flex-direction: column;
  width: 45%;
  border-right: 2px solid rgba(0, 0, 0, .1);
}

.experience-title {
  margin-left: 8%;
}

.experience-title .title {
  font-size: 26px;
  font-weight: 600;
  display: inline-block;
  transform: rotate(0.02deg);
}

.experience-title a:hover {
  color: #000;
}

.experience-title span {
  padding-left: 5px;
}

.experience-title p {
  padding-top: 10px;
}

.ex-carrer {
  margin-top: 22px;
  margin-bottom: 12px;
}

.ex-carrer h5 {
  font-weight: 700;
  padding: 5px 0;
  font-size: 16px;
  transform: rotate(0.02deg);
}

.ex-carrer p {
  font-size: 14px;
}

.experience-menu {
  margin-top: 40px;
  margin-left: 8%;
}

.experience-menu .emItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.experience-menu a:hover p {
  text-decoration: underline;
}

.experience-menu p {
  display: inline-block;
  padding-left: 10px;
}

.experience-menu img {
  width: 20px;
  height: auto;
  margin-left: -1px;
  vertical-align: middle;
}

.experience-menu2 {
  display: none;
}

.readMe {
  width: 120px;
  height: 40px;
  background-color: #424242;
  border-radius: 6px;
  margin-left: 8%;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  line-height: 38px;
}

.readMe p {
  display: inline-block;
  vertical-align: middle;
}
.readMe i {
  vertical-align: middle;
  padding-left: 4px;
}

.experience-content {
  margin-left: 4%;
  width: 50%;
}

.experience-content h5 {
  font-size: 22px;
  font-weight: 600;
  transform: rotate(0.02deg);
  margin-bottom: 20px;
  padding-top: 10px;
}

.useStack {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  padding: 4px 0;
  line-height: 20px;
}

.experience-content p {
  padding: 8px 0;
}

.readMe-phone {
  display: none;
}

/* ----- section5 ----- */
.oex-title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 16px;
  text-align: center;
}

.oex-date {
  text-align: center;
  font-size: 16px;
}

.tabs {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50vw;
  height: 520px;
  padding: 30px 20px;
  overflow: hidden;
}

.tabs .tab-header {
  float: left;
  width: 180px;
  height: 100%;
  border-right: 1px solid #ccc;
  padding: 6vh 0px;
}

.tabs .tab-header>div {
  height: 50px;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  padding-left: 10px;
}

.tabs .tab-header>div:hover,
.tabs .tab-header>div.active {
  color: #000;
  font-weight: 900;
}

.tabs .tab-content {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tabs .tab-content::-webkit-scrollbar {
  width: 16px;
}

.tabs .tab-content::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

.tabs .tab-content::-webkit-scrollbar-track {
  background-color: #fff;
}

.tabs .tab-content>div {
  position: absolute;
  padding: 0 20px;
  top: -200%;
  transition: all .5s ease-in-out;
}

.tabs .tab-content>div>h5 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 5px;
}

.tabs .tab-content>div>p {
  font-size: 14px;
}

.tabs .tab-content>div.active {
  top: 0px;
}
.tabs .tc2>div>p {
  padding: 14px 0 0 0;
}

.codestates-project h5 {
  margin-bottom: 20px;
  line-height: 20px;
}

.codestates-project p {
  line-height: 20px;
  padding-bottom: 12px;
}

/* ----- section5 phone version ----- */
.phone-tabs {
  display: none;
  width: 100%;
  height: 420px;
  padding: 20px 30px;
  overflow: hidden;
}

.phone-tabs .phone-tab-header {
  height: 60px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
}

.phone-tabs .phone-tab-header>div {
  width: calc(100% / 4);
  text-align: center;
  color: #888;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
}

.phone-tabs .phone-tab-header>div.phone-tab-active {
  color: #000;
  font-weight: 900;
}

.phone-tabs .phone-tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.phone-tabs .phone-tab-body::-webkit-scrollbar {
  width: 8px;
}

.phone-tabs .phone-tab-body::-webkit-scrollbar-thumb {
  background-color: #616161;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.phone-tabs .phone-tab-body::-webkit-scrollbar-track {
  background-color: #fff;
}

.phone-tabs .phone-tab-body>div {
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
  font-size: 12px;
  margin-top: 10px;
}

.phone-tabs .phone-tab-body>div>h5 {
  padding-top: 10px;
  font-weight: 900;
}
.phone-tabs .phone-tab-body>div>p {
  padding: 4px 0 0 0;
}

.phone-tabs .phone-tab-body>div.phone-tab-active {
  top: 0px;
  opacity: 1;
  transform: scale(1);
}

/* ----- footer ----- */
footer {
  position: relative;
  z-index: -1;
}

/* ----- github, blog, contact btn ----- */
.fixbx {
  position: sticky;
  bottom: 8vh;
}

.fixbtn {
  position: absolute;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: inherit;
  border: 2.5px solid #666;
  border-radius: 6px;
  transition: all .2s ease;
  margin-left: auto;
  right: 3vw;
}

.fixbtn:hover {
  border-color: #000;
  transform: scale(1.3, 1.3);
}

.blog-btn:hover {
  border-color: #000;
  transform: scale(1.3, 1.3);
}

.github-btn {
  bottom: 110px;
}

.contact-btn {
  position: relative;
  color: #666;
  line-height: normal;
  overflow: hidden;
  text-align: center;
  z-index: -1;
}

.contact-btn i {
  color: #000;
  font-size: 1.5em;
  padding-top: 10px;
}

.contact-btn::after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.contact-btn:hover {
  border-color: #000;
  color: #000;
  font-weight: 600;
  transform: scale(1.2, 1.2);
}

.contact-btn:hover::after {
  background-image: repeating-linear-gradient(45deg, #000, #000 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
  animation: stripe-slide 12s infinite linear forwards;
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}


.send-mail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 60vw;
  height: 80vh;
  background-color: #212121;
  color: #fff;
  border-radius: 15px;
  transition: all .6s;
}

.send-mail h2 {
  padding: 5% 0 1% 5%;
  font-size: 1.5vw;
}

.send-mail div {
  width: 100%;
  padding: 2vh 0 1vh 5%;
}

.send-mail p {
  padding-bottom: 10px;
}

.send-mail span {
  font-size: 14px;
  padding-left: 8px;
  color: red;
  display: none;
}

.send-mail input {
  background-color: #424242;
  border: 1px solid #9e9e9e;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  color: #fff;
  padding-left: 3%;
  display: block;
}

.send-mail input::placeholder {
  color: #eeeeee;
  opacity: .6;
}

.send-mail textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
  background-color: #424242;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  width: 28vw;
  height: 18vh;
  color: #fff;
  padding: 2%;
}

.send-mail textarea::placeholder {
  color: #eeeeee;
  opacity: .6;
}

.send-mailBtn {
  position: relative;
}

.send-mailBtn button {
  --y: 0px;
  --rocate: 0deg;
  position: relative;
  padding: 10px 30px 10px 30px;
  color: #fff;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 27px;
  transform-style: preserve-3d;
  transform: translateY(var(--y)) rotateX(var(--rocate));
  transition: all .3s;
}

.send-mailBtn button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  background-color: #fff;
  height: 4px;
  border-radius: 2px;
  display: block;
  transform-origin: 0 100%;
  transform: rotateX(-90deg);
  transition: .3;
}

.send-mailBtn i {
  position: absolute;
  bottom: 20px;
  left: 5%;
  font-size: 2vw;
  transition: all 1.5s;
  opacity: 0;
  color: #fff;
}

.send-mail .my-information {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 30%;
  border-left: 1px solid rgba(255, 255, 255, .5);
}

.reimg {
  width: 10vw;
}

.miName {
  font-size: 20px;
  letter-spacing: 1.6px;
  padding-top: 6px;
}

.send-mail .my-information h5 {
  padding-bottom: 8px;
}

.send-mail .my-information p {
  font-size: 14px;
}

.information-blog img {
  width: 25px;
}

.information-social i {
  padding-top: 5px;
  font-size: 18px;
  color: #fff;
}

.send-mail .x-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 26px;
  cursor: pointer;
}






@media (max-width: 1600px) {

  /* ----- send-mail ----- */
  .send-mail {
    width: 70vw;
  }
}

@media (max-width: 1400px) {

  /* ----- section4 ----- */
  .experience {
    width: 92%;
  }

  /* ----- section5 ----- */
  .tabs {
    width: 60vw;
  }

  /* ----- github, blog, contact btn ----- */
  .fixbtn {
    right: 14px;
  }

  /* ----- send-mail ----- */
  .send-mail {
    width: 75vw;
  }

  .send-mailBtn i {
    font-size: 2.5vw;
  }
}


@media (max-width: 1200px) {
  /* ----- section1 ----- */
  .myName {
    font-size: 34px;
  }

  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 28px;
  }

  .my-explanation {
    font-size: 18px;
  }

  .about .am {
    font-size: 15px;
    padding: 0 18px;
  }

  /* ----- section3 ----- */
  .my-skills {
    height: 1080px;
  }

  .language-chart img {
    width: 760px;
  }

  .my-skills h2 {
    font-size: 1.6em;
  }

  .skill-bx .item {
    width: 80px;
    height: 80px;
    margin: 24px 12px 0 12px;
  }

  /* ----- section4 ----- */
  .experience {
    width: 100%;
    padding: 40px;
  }

  .experience-title {
    margin-left: 0;
  }

  .experience-menu {
    margin-left: 0;
  }

  .experience-content {
    margin-left: 5%;
  }

  .readMe {
    margin-left: 0;
  }
  
  /* ----- section5 ----- */
  .oex-title {
    font-size: 20px;
  }
  .oex-date {
    font-size: 14px;
  }

  .tabs {
    width: 80vw;
  }
  
  /* ----- github, blog, contact btn ----- */
  .fixbtn {
    margin-top: 20px;
    width: 75px;
    height: 75px;
    right: 10px;
  }

  .github-btn {
    bottom: 100px;
  }

  .contact-btn {
    margin-bottom: 20px;
  }

  /* ----- send-mail ----- */

  .send-mail {
    width: 75vw;
    height: 75vh;
  }

  .send-mail p {
    font-size: 14px;
  }

  .send-mail span {
    font-size: 12px;
  }

  .send-mail input {
    width: 18vw;
  }

  .send-mail textarea {
    width: 30vw;
  }

  .send-mailBtn button {
    font-size: 14px;
  }

  .send-mailBtn button::before {
    height: 3px;
  }

  .send-mailBtn i {
    font-size: 3vw;
  }

  .send-mail .my-information {
    width: 35%;
  }

  .send-mail .my-information h5 {
    font-size: 14px;
  }

  .send-mail .my-information p {
    font-size: 12px;
  }

  .information-blog img {
    width: 22px;
  }

  .information-social i {
    font-size: 16px;
  }

  .send-mail .x-btn {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  #zoomBx {
    zoom: 1;
  }

  /* ----- section1 ----- */
  #my-introduce {
    padding-top: 180px;
    padding-bottom: 30px;
  }

  .introduce-txt p {
    line-height: 20px;
  }

  .myName {
    font-size: 30px;
  }

  .my-explanation {
    font-size: 16px;
  }

  .about .am {
    font-size: 14px;
    padding: 0 16px;
  }

  /* ----- section2 ----- */
  #portfolio-introduce h1 {
    font-size: 26px;
  }

  .introduce-txt p {
    font-size: 15px;
  }

  /* ----- section3 ----- */
  .my-skills {
    height: 1040px;
  }

  .language-chart img {
    width: 100%;
  }

  .my-skills h2 {
    font-size: 1.4em;
  }

  .skill-bx .item {
    width: 74px;
    height: 74px;
    margin: 22px 10px 0 10px;
  }

  /* ----- section4 ----- */
  .experience {
    padding: 30px;
  }

  .ex-title-bx {
    width: 50%;
  }

  .experience-title .title {
    font-size: 22px;
  }

  .experience-title span {
    font-size: 14px;
  }

  .experience-title p {
    font-size: 14px;
  }

  .experience-menu {
    font-size: 14px;
  }

  .experience-menu a {
    font-size: 14px;
  }

  .experience-menu img {
    width: 16px;
  }

  .readMe {
    width: 110px;
    height: 38px;
    margin-top: 28px;
    font-size: 14px;
    line-height: 34px;
  }

  .experience-content h5 {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .experience-content p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 4px;
  }

  .experience-content p span {
    display: none;
  }

  .useStack {
    font-size: 12px;
  }

  /* ----- section5 ----- */
  .oex-title {
    font-size: 20px;
  }

  .tabs {
    width: 80vw;
  }

  .tabs .tab-header {
    width: 180px;
    font-size: 16px;
  }

  .tabs .tab-content>div>h5 {
    font-size: 14px;
  }

  .tabs .tab-content>div>p {
    font-size: 12px;
  }

  /* ----- github, blog, contact btn ----- */
  .fixbtn {
    width: 68px;
    height: 68px;
  }

  .github-btn {
    bottom: 90px;
  }

  .fixbtn:hover {
    transform: scale(1.2, 1.2);
  }
  
  .blog-btn:hover {
    transform: scale(1.2, 1.2);
  }
  

  /* ----- send-mail ----- */
  .contact-btn {
    font-size: 13px;
  }

  .send-mail {
    width: 85vw;
  }

  .send-mail h2 {
    font-size: 2vw;
  }

  .send-mail input {
    width: 22vw;
  }

  .send-mail textarea {
    width: 34vw;
  }

  .send-mailBtn i {
    font-size: 3.2vw;
  }

  .send-mail .my-information {
    width: 38%;
  }
}


@media (max-width: 768px) {

  .introduce-btn {
    display: block;
    margin-top: 4vh;
  }

  .introduce-btn a {
    padding: 0 20px;
  }
  
  .introduce-btn span {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding-left: 4px;
  }

  .experience {
    position: relative;
    display: block;
    margin: 52px auto 40px auto;
    box-shadow: none;
  }

  .ex-title-bx {
    width: 100%;
    border: none;
  }

  .ex-carrer {
    font-size: 16px;
  }

  .experience-title .title {
    font-size: 26px;
  }
  
  .experience-title span {
    font-size: 16px;
  }

  .experience-menu {
    display: none;
  }

  .experience-menu2 {
    display: block;
    padding-top: 30px;
    font-size: 16px;
  }

  .experience-menu2 a {
    font-size: 16px;
  }

  .experience-menu2 img {
    width: 18px;
  }

  .experience-content {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }

  .ex-content-bx {
    margin: 0 auto;
    border-top: solid 2px rgba(0, 0, 0, .1);
    border-bottom: solid 2px rgba(0, 0, 0, .1);
    padding-bottom: 30px;
  }

  .experience-content h5 {
    padding-top: 35px;
    font-size: 18px;
  }

  .experience-content p {
    font-size: 16px;
  }

  .useStack {
    font-size: 14px;
  }

  .readMe-phone {
    display: block;
    text-align: center;
    padding-top: 40px;
  }

  .readMe-phone p {
    padding-top: 12px;
    display: inline-block;
  }

  .readMe-phone i {
    padding-left: 4px;
    font-size: 18px;
  }

  .readMe {
    display: none;
  }

  .other-experiences {
    margin-bottom: 100px;
  }

  .tabs {
    display: none;
  }

  .fixbx {
    display: none;
  }
}

@media (max-width: 620px) {
  #portfolio-introduce h1 {
    font-size: 24px;
  }
  
  .skill-bx .item {
    width: 64px;
    height: 64px;
  }
  
  .experience-title .title {
    font-size: 24px;
  }
  
  .experience-menu2 {
    font-size: 14px;
  }

  .experience-content h5 {
    font-size: 16px;
  }

  .experience-content p {
    font-size: 14px;
  }

  .useStack {
    font-size: 12px;
  }

  .useStack span:first-child {
    display: none;
  }

  .readMe-phone, .readMe-phone i {
    font-size: 14px;
  }

  .oex-title {
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  .my-skills {
    height: 1200px;
  }

  .skill-bx .item {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 450px) {
  .my-explanation {
    font-size: 14px;
  }

  .about .am {
    font-size: 12px;
  }

  .introduce-btn span, .introduce-btn i {
    font-size: 12px;
  }
}